<html class="no-js" lang="en">

<head>
	<link rel="stylesheet" href="static/css/app.css" />
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900' rel='stylesheet' type='text/css'>
</head>

<body ng-app="app" ng-controller="SearchCtrl">
	<div class="search">
		<div class="row">
			<div class="column small-4 centered text-center">
				<img src="static/images/dribbble-search.png" width="128" style="margin: 20px auto 40px;" />
				<form name="contact" ng-submit="search.submit()">
					<div class="column small-12">
						<input type="text" ng-model="search.keyword" placeholder="Try batman or halloween" style="text-align: center; font-size: 18px;" ng-disabled="loading"/>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="results" ng-if="!loading">
		<div class="row">
			<div class="column small-6 centered">
				<ul class="dots text-center">
					<li class="dot" ng-repeat="color in cluster" style="background: {{'{{color.color}}'}};" data-count="{{'{{color.count}}'}}"></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="column small-6 centered">
				<ul class="bricks">
					<li class="brick" ng-repeat="color in palette track by $index" style="background: {{'{{color}}'}};"></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="loader text-center ng-hide" ng-show="loading">
		<img src="static/images/loader.gif" width="400" />
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="static/js/app.js"></script>
</html>